/* Colourstyles. #709612 */

@font-face {
  font-family: 'San Francisco';
  src: url('../fonts/SF-Pro-Rounded-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eina_01';
  src: url('../fonts/Eina01-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eina_01', sans-serif;
}

p {
  font-family:'Eina_01',sans-serif;
}

/* Active pill */
.nav-pills .nav-link.active {
  background-color: #709612;
  color: #fff;
}

/* Inactive pills */
.nav-pills .nav-link:not(.active) {
  color: #333; /* text color */
}

/* Hover for inactive pills only */
.nav-pills .nav-link:not(.active):hover {
  background-color: #a0b000;
  color: #fff;
}

.btn-outline-custom {
  color: #709612;            /* text color */
  border: 2px solid #709612; /* outline color */
  background-color: transparent; /* keep it “outline” */
}

.btn-outline-custom:hover {
  color: #fff;               /* text on hover */
  background-color: #709612; /* fill on hover */
  border-color: #709612;
}

.btn-custom {
  background-color: #709612; /* your color */
  border-color: #709612;
  color: #fff;
}

.btn-custom:hover {
  background-color: #5a7810; /* slightly darker for hover */
  border-color: #5a7810;
}

/* Card border */
.border-custom {
  border-color: #709612 !important; /* your custom color */
}

/* Card header background + text color */
.text-bg-custom {
  background-color: #709612 !important; /* same as border */
  color: #fff; /* text color */
  border-color: #709612 !important; /* border matches background */
}
